@font-face {
	font-family: 'Circe-Italic';
	src: url('/fonts/Circe-Italic.woff2'), url('/fonts/Circe-Italic.woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Onest-Regular';
	src: url('/fonts/Onest-Regular.woff2'), url('/fonts/Onest-Regular.woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Onest-Medium';
	src: url('/fonts/Onest-Medium.woff2'), url('/fonts/Onest-Medium.woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Onest-Bold';
	src: url('/fonts/Onest-Bold.woff2'), url('/fonts/Onest-Bold.woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Unbounded-Bold';
	src: url('/fonts/Unbounded-Bold.woff2'), url('/fonts/Unbounded-Bold.woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
